@model LoginSignUpViewModel
<head>
	<title>Login</title>
	<link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>
	@if (ViewBag.VerifyEmail != null)
	{
		<div class="otp-popup">
			<div class="shadow-background"></div>
			<form class="otp-card" method="post" asp-controller="Login" asp-action="PostVerify">
				<img src="../images/Verification-Code-Cropped.png" alt="verification code" class="otp-img">
				<h2>Enter verification code</h2>
				<h4>We've sent code to: <span class="dark-color">@ViewBag.VerifyEmail</span></h4>
				<input type="text" maxlength="4" name="code" id="otp-input" required autofocus>

				<div asp-validation-summary="All" class="error-validation"></div>
				<input type="submit" value="Confirm Code" id="otp-submit">
			</form>
		</div>
	}
	else
	{
		<div class="otp-popup hidden">
			<div class="shadow-background"></div>
			<form class="otp-card" method="post" asp-controller="Login" asp-action="PostVerify">
				<img src="../images/Verification-Code-Cropped.png" alt="verification code" class="otp-img">
				<h2>Enter verification code</h2>
				<h4>We've sent code to: <span class="dark-color">user@mail.com</span></h4>
				<input type="text" maxlength="4" name="code" id="otp-input" required autofocus>

				<div asp-validation-summary="All" class="error-validation"></div>
				<input type="submit" value="Confirm Code" id="otp-submit">
			</form>
		</div>
	}

	<div class="box" id="my-container">
		<div class="shadow"></div>

		<div class="form-container sign-in">
			@using (Html.BeginForm("Login", "Login"))
			{
				<h2>Log In</h2>

				<input type="email" placeholder="Your Email" asp-for=Email />
				<input type="password" placeholder="Password" asp-for=Password />

				<input type="submit" value="Log In" class="submit-button" asp-action="Login" />
				<a href="" class="blue-link">Forgot password?</a>
				<h5><span>or</span></h5>

				<button class="google-button">
					<img src="~/images/google.svg" alt="google icon" class="icon" />
					<h4>Google</h4>
				</button>

				<h6>Don't have an account? <span id="register">Sign Up</span></h6>
			}
		</div>
		<div class="form-container sign-up">
			@using (Html.BeginForm("SignUp", "Login"))
			{
				<h2>Sign Up</h2>

				<h4>Register as</h4>
				<div class="radio-section">
					<div class="radio-container">
						<input type="radio"
						   asp-for=Type
						   id="personChoice1"
						   value="user"
						   checked />
						<label for="personChoice1"><span>User</span></label>
					</div>

					<div class="radio-container">
						<input type="radio"
						   asp-for=Type
						   id="personChoice2"
						   value="referee" />
						<label for="personChoice2"><span>Referee</span></label>
					</div>
				</div>

				<input type="email" placeholder="Your Email" asp-for=Email />
				<input type="text" placeholder="Username" asp-for=Username />
				<input type="password" placeholder="Password" asp-for=Password />
				<input type="password" placeholder="Repeat password" asp-for=Repeat />

				<input type="submit" value="Sign Up" class="submit-button" />

				<h5><span>or</span></h5>

				<button class="google-button">
					<img src="~/images/google.svg" alt="google icon" class="icon" />
					<h4>Google</h4>
				</button>

				<h6>Already have an account? <span id="login">Log in</span></h6>
			}
		</div>
		<div class="right">
		</div>
	</div>

	<script src="~/js/Login.js"></script>
</body>